{% extends "layout.twig" %}

{% block content %}
 <header>
    <div class="wrapper clearfix">
       {{widget('companyheader', 'companyheader', {"defaultlogo": asset('images/logo.png')})|raw}}
    </div>
</header>

<div class="main wrapper clearfix">

<section class="main wrapper clearfix">
            <div class="widget responsivecolumns columns-three-33-34-33">
                <h4>State's Finest</h4><br>
                <div class="column columns-three-left">
                    
                    
                    <h3>BREAKFAST</h3>

                    <h2>Eggs & Bacon 7.99</h2>
                    <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                     <h2>Double Bacon Wake-Up 9.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                     <h2>Breakfast Steak 11.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                     <h2>Waffles & Bacon 5.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                     <h2>Fruit Salad 4.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p><BR><BR>


                        <h3>LUNCH SPECIALS</h3>

                        <h2>Turkey Sandwich 11.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                     <h2>Chilli Fries 5.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                     <h2>Italian Pasta 4.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                </div>
                <div class="column columns-three-middle">
                
                    <h3>THE GRILL</h3>

                        <h2>Mixed Grill 11.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                     <h2>Surf & Turf 25.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                     <h2>Chicken Wings 9.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p><BR><BR>


                        <h3>BIG BOY BURGERS</h3>

                        <h2>The Original Big Boy 11.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                     <h2>Double Cheese Burger 15.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                     <h2>Fried Chicken Zinger 14.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                     <h2>Triple Bacon Burger 14.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                      <h2>The Ultimate Big Boy 24.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>


                </div>
                <div class="column columns-three-right">
                    <h3>LEGENDARY STEAK</h3>

                      
                        <h2>Feather Steak 18.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                    
                        <h2>Rump Steak 28.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                      <BR><BR>


                        <h3>TACOS & NACHOS</h3>

                            <h2>Taco Surprise 11.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                        <h2>Nine Nacho Challenge 11.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p><BR><BR>

                      
                        <h3>HOT DOGS</h3>

                             <h2>Chilli Dawg 8.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                     <h2>The All-American 5.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                     <h2>Plain Dog 4.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                </div>



            </div>
<div class="widget responsivecolumns columns-three-33-34-33">
    <br><br> <br><br>
                <h4>Fine Beverages</h4><br>
                <div class="column columns-three-left">
                    
                    
                    <h3>DRAFT BEERS</h3>

                    <h2>Wild Boar 4.99</h2>
                    <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                     <h2>Wild Boar Lite 4.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                     <h2>Heavy Duty 4.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                     <h2>Flying Ribbon Gold 4.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>



    

                </div>
                <div class="column columns-three-middle">
                
                    <h3>ENDLESS SODA</h3>

                        <h2>Cola / Lemonade / Diet 2.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                     <h2>Homemade Lemonade 2.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                     <h2>Fresh Juice 4.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p><BR><BR>





                </div>
                <div class="column columns-three-right">
                    <h3>MILKSHAKES</h3>

                        <h2>Vanilla / Chocolate / Lime 5.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>

                     <h2>Super Shake 9.99</h2>
                      <p>Nulla scelerisque, metus vitae tincidunt egestas, enim ante rutrum orci alam nec imperdiet enim libero vitae eros.</p>


                </div>



            </div>

    {{zone('main')|raw}}
</div>



{% endblock %}
